@import '/src/styles.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: $bg-obscure;
    position: relative; 
    .forgetPassword-title {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 1.3rem;
        color: $white;
    }
}

.forgetPassword-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .img-password {
        max-width: 300px;
        margin-bottom: 40px;
        height: auto;
        mask-image: linear-gradient(#000000 50%, transparent);
    }

    form {
        width: 50%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    button {
        align-self: center;  
        margin-top: 20px;  
        padding: 10px 20px;
    }

    p {
        color: $white;
        width: 600px;
        word-wrap: break-word;
        text-align: center;
    }
}