<div class="sidebar">
  <ul>
    <li>
      <a class="btn btn-link" [routerLink]="['/users']">
        <mat-icon>group</mat-icon>
        <span>{{ 'SIDEBAR.USERS' | translate }}</span>
      </a>
    </li>
    <li>
      <a class="btn btn-link" [routerLink]="['/profiles']">
        <mat-icon>account_circle</mat-icon>
        <span>{{ 'SIDEBAR.PROFILES' | translate }}</span>
      </a>
    </li>
    <li>
      <a class="btn btn-link" [routerLink]="['/auditory']">
        <mat-icon>assessment</mat-icon>
        <span>{{ 'SIDEBAR.AUDIT' | translate }}</span>
      </a>
    </li>
    <li>
      <a class="btn btn-link" href="/login">
        <mat-icon>inventory</mat-icon>
        <span>{{ 'SIDEBAR.INVENTORY' | translate }}</span>
      </a>
    </li>
    <li>
      <a class="btn btn-link" href="/changePassword">
        <mat-icon>lock_reset</mat-icon>
        <span>{{ 'SIDEBAR.CHANGE_PASSWORD' | translate }}</span>
      </a>
    </li>
    <li class="logout-item">
      <a class="btn btn-link" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>{{ 'SIDEBAR.LOGOUT' | translate }}</span>
      </a>
    </li>
  </ul>
</div>
