<body class="flex-container">
    <app-sidebar></app-sidebar>
    <h1 class="title">{{ 'CATEGORY.TITLE' | translate }}</h1>
    <div class="container">
        <!-- Sección de la izquierda -->
        <div class="left-section">
            <div class="input-group mb-3 search-container">
                <input type="text" class="form-control" [(ngModel)]="inputSearch"
                    placeholder="{{ 'CATEGORY.SEARCH_PLACEHOLDER' | translate }}" aria-label="Buscar">
                <!-- Botón de limpiar -->
                <button class="clear-btn" type="button" *ngIf="inputSearch" (click)="clearSearch()">
                    <i class="bi bi-x-lg"></i>
                </button>
                <!-- Botón de buscar -->
                <button class="btn btn-outline-secondary search-btn" type="button" (click)="searchCategories()">
                    <i class="bi bi-search"></i>
                </button>
            </div>

            <!-- Lista de la izquierda -->
            <app-list-table [totalSize]="totalCategories" [dataType]="'categories'" [categoryService]="CategoriesService" [columns]="categoryColumns"
                [data]="categoriesData" (itemSelected)="onItemSelected($event)" (pageChange)="onPageChange($event)">
            </app-list-table>
        </div>

        <!-- Sección de la derecha -->
        <div class="right-section">
            <h1 class="form-title">{{ (isEditing ? 'CATEGORY.UPDATE_BUTTON' : 'CATEGORY.SAVE_BUTTON') | translate }}</h1>

            <div class="form-row">
                <div class="form-group">
                    <label for="name">{{ 'CATEGORY.NAME' | translate }} *</label>
                    <input type="text" id="name" class="form-control" placeholder="{{ 'CATEGORY.NAME' | translate }}"
                        [(ngModel)]="name" required minlength="3" maxlength="50" #nameField="ngModel">

                    <!-- Mensaje de error para nombre -->
                    <div *ngIf="nameField.invalid && nameField.touched" class="error-container">
                        <div class="error-message">
                            <span *ngIf="nameField.errors?.['required']">{{ 'CATEGORY.REQUIRED_NAME' | translate }}</span>
                            <span *ngIf="nameField.errors?.['minlength'] || nameField.errors?.['maxlength']">{{ 'CATEGORY.LENGTH_NAME' | translate }}</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">{{ 'CATEGORY.DESCRIPTION' | translate }} *</label>
                    <input type="text" id="description" class="form-control"
                        placeholder="{{ 'CATEGORY.DESCRIPTION' | translate }}" [(ngModel)]="description" required
                        minlength="10" maxlength="50" #descriptionField="ngModel">

                    <!-- Mensaje de error para descripción -->
                    <div *ngIf="descriptionField.invalid && descriptionField.touched" class="error-container">
                        <div class="error-message">
                            <span *ngIf="descriptionField.errors?.['required']">{{ 'CATEGORY.REQUIRED_DESCRIPTION' | translate }}</span>
                            <span *ngIf="descriptionField.errors?.['minlength'] || descriptionField.errors?.['maxlength']">{{ 'CATEGORY.LENGTH_DESCRIPTION' | translate }}</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="status">{{ 'CATEGORY.STATUS' | translate }}</label>
                    <mat-slide-toggle [(ngModel)]="status" id="status" name="status">
                      {{ status ? ('CATEGORY.ACTIVE' | translate) : ('CATEGORY.INACTIVE' | translate) }}
                    </mat-slide-toggle>
                </div>
            </div>

            <div class="button-container">
                <button class="btn-submit" (click)="createOrUpdateCategory()">
                    {{ (isEditing ? 'CATEGORY.UPDATE_BUTTON' : 'CATEGORY.SAVE_BUTTON') | translate }}
                </button>
            </div>
        </div>
    </div>
</body>
