@import '/src/styles.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: $bg-obscure;
    position: relative;

    .title {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 1.3rem;
        color: $white;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;

    .img-restore {
        max-width: 300px;
        margin-bottom: 40px;
        height: auto;
        mask-image: linear-gradient(#000000 50%, transparent);
    }

    .input-group {
        width: 100%; 
        margin-bottom: 20px;

        input {
            width: 100%; 
            padding: 10px;
            font-size: 1rem;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
    }

    .btn-primary {
        width: 90%; 
        margin: 20px 20px 20px 20px; 
        align-items: center;
        padding: 5px 10px;

    }

    hr {
        width: 80%;
        border: 1px solid $white;
        margin: 20px 0;
    }

    a {
        color: $white;
        text-decoration: none;
        font-size: 0.8em;

        &:hover {
            color: gray;
        }
    }

    .img-eye {
        max-width: 20px;
        max-height: 20px;
    }

    #togglePassword:checked+label .img-eye {
        content: url('../../../../assets/images/eyeVisibility.png');
    }

    p {
        color: $white;
        width: 600px;
        word-wrap: break-word;
        text-align: center;
    }
}