<body class="flex-container">
    <app-sidebar></app-sidebar>
    <h1 class="title">{{ 'WINERY.TITLE' | translate }}</h1>
    <div class="container">
        <!-- Sección de la izquierda -->
        <div class="left-section">
            <div class="input-group mb-3 search-container">
                <input type="text" class="form-control" [(ngModel)]="inputSearch"
                    placeholder="{{ 'WINERY.SEARCH_PLACEHOLDER' | translate }}" aria-label="Buscar">
                <!-- Boton de clean -->
                <button class="clear-btn" type="button" *ngIf="inputSearch" (click)="clearSearch()">
                    <i class="bi bi-x-lg"></i>
                </button>
                <!-- Boton de search -->
                <button class="btn btn-outline-secondary search-btn" type="button" (click)="searchWinery()">
                    <i class="bi bi-search"></i>
                </button>
            </div>

            <!-- Lista de la izquierda -->
            <app-list-table [totalSize]="totalWineries" [dataType]="'wineries'" [wineryService]="WineriesService"
                [columns]="wineryColumns" [data]="wineriesData" (itemSelected)="onItemSelected($event)"
                (pageChange)="onPageChange($event)">
            </app-list-table>
        </div>

        <!-- Sección de la derecha -->
        <div class="right-section">
            <h1 class="form-title">{{ (isEditing ? 'WINERY.UPDATE_BUTTON' : 'WINERY.SAVE_BUTTON') | translate }}</h1>

            <div class="form-row">
                <!-- Validación para el nombre -->
                <div class="form-group">
                    <label for="name">{{ 'WINERY.NAME' | translate }} *</label>
                    <input type="text" id="name" class="form-control" placeholder="{{ 'WINERY.NAME' | translate }}"
                        [(ngModel)]="name" required minlength="3" maxlength="100" pattern="^[a-zA-Z0-9\s]*$"
                        #nameField="ngModel">

                    <!-- Mensaje de error para nombre -->
                    <div *ngIf="nameField.invalid && nameField.touched" class="error-container">
                        <div class="error-message">
                            <span *ngIf="nameField.errors?.['required']">{{ 'WINERY.REQUIRED_NAME' | translate }}</span>
                            <span *ngIf="nameField.errors?.['minlength']">{{ 'WINERY.MIN_LENGTH_NAME' | translate
                                }}</span>
                            <span *ngIf="nameField.errors?.['pattern']">{{ 'WINERY.INVALID_CHARACTERS_NAME' | translate
                                }}</span>
                        </div>
                    </div>
                </div>

                <!-- Validación para la dirección -->
                <div class="form-group">
                    <label for="address">{{ 'WINERY.ADDRESS' | translate }} *</label>
                    <input type="text" id="address" class="form-control"
                        placeholder="{{ 'WINERY.ADDRESS' | translate }}" [(ngModel)]="address" required minlength="18"
                        maxlength="255" #addressField="ngModel">

                    <!-- Mensaje de error para dirección -->
                    <div *ngIf="addressField.invalid && addressField.touched" class="error-container">
                        <div class="error-message">
                            <span *ngIf="addressField.errors?.['required']">{{ 'WINERY.REQUIRED_ADDRESS' | translate
                                }}</span>
                            <span *ngIf="addressField.errors?.['minlength']">{{ 'WINERY.MIN_LENGTH_ADDRESS' | translate
                                }}</span>
                        </div>
                    </div>
                </div>

                <!-- Validación para el teléfono -->
                <div class="form-group">
                    <label for="phone">{{ 'WINERY.PHONE' | translate }} *</label>
                    <input type="number" id="phone" class="form-control" placeholder="{{ 'WINERY.PHONE' | translate }}"
                        [(ngModel)]="phone" required min="10000000" max="99999999" #phoneField="ngModel">

                    <!-- Mensaje de error para teléfono -->
                    <div *ngIf="phoneField.invalid && phoneField.touched" class="error-container">
                        <div class="error-message">
                            <span *ngIf="phoneField.errors?.['required']">{{ 'WINERY.REQUIRED_PHONE' | translate
                                }}</span>
                            <span *ngIf="phoneField.errors?.['min']">{{ 'WINERY.INVALID_PHONE' | translate }}</span>
                            <span *ngIf="phoneField.errors?.['max']">{{ 'WINERY.INVALID_PHONE' | translate }}</span>
                        </div>
                    </div>
                </div>

                <!-- Validación para la capacidad máxima -->
                <div class="form-group">
                    <label for="maxCapacity">{{ 'WINERY.MAX_CAPACITY' | translate }} *</label>
                    <input type="number" id="maxCapacity" class="form-control"
                        placeholder="{{ 'WINERY.MAX_CAPACITY' | translate }}" [(ngModel)]="maxCapacity" required
                        min="100" max="10000" #maxCapacityField="ngModel">

                    <!-- Mensaje de error para capacidad máxima -->
                    <div *ngIf="maxCapacityField.invalid && maxCapacityField.touched" class="error-container">
                        <div class="error-message">
                            <span *ngIf="maxCapacityField.errors?.['required']">{{ 'WINERY.REQUIRED_MAX_CAPACITY' |
                                translate }}</span>
                            <span *ngIf="maxCapacityField.errors?.['min']">{{ 'WINERY.MIN_CAPACITY' | translate
                                }}</span>
                            <span *ngIf="maxCapacityField.errors?.['max']">{{ 'WINERY.MAX_CAPACITY_EXCEEDED' | translate
                                }}</span>
                        </div>
                    </div>
                </div>

                <!-- Validación para la cantidad disponible -->
                <div class="form-group">
                    <label for="availableQuantity">{{ 'WINERY.AVAILABLE_QUANTITY' | translate }} *</label>
                    <input type="number" id="availableQuantity" class="form-control"
                        placeholder="{{ 'WINERY.AVAILABLE_QUANTITY' | translate }}" [(ngModel)]="availableQuantity"
                        required min="0" max="10000" #availableQuantityField="ngModel">

                    <!-- Mensaje de error para cantidad disponible -->
                    <div *ngIf="availableQuantityField.invalid && availableQuantityField.touched"
                        class="error-container">
                        <div class="error-message">
                            <span *ngIf="availableQuantityField.errors?.['required']">{{
                                'WINERY.REQUIRED_AVAILABLE_QUANTITY' | translate }}</span>
                            <span *ngIf="availableQuantityField.errors?.['min']">{{ 'WINERY.MIN_QUANTITY' | translate
                                }}</span>
                            <span *ngIf="availableQuantityField.errors?.['max']">{{ 'WINERY.MAX_QUANTITY_EXCEEDED' |
                                translate }}</span>
                        </div>
                    </div>
                </div>

                <!-- Estado del winery -->
                <div class="form-group">
                    <label for="status">{{ 'WINERY.STATUS' | translate }}</label>
                    <mat-slide-toggle [(ngModel)]="status" id="status" name="status">
                        {{ status ? ('WINERY.ACTIVE' | translate) : ('WINERY.INACTIVE' | translate) }}
                    </mat-slide-toggle>
                </div>
            </div>

            <!-- Botón de guardar/actualizar -->
            <div class="button-container">
                <button class="btn-submit" (click)="createOrUpdateWinery()"
                    [disabled]="nameField.invalid || addressField.invalid || phoneField.invalid || maxCapacityField.invalid || availableQuantityField.invalid">
                    {{ (isEditing ? 'WINERY.UPDATE_BUTTON' : 'WINERY.SAVE_BUTTON') | translate }}
                </button>
            </div>
        </div>
    </div>
</body>