@import '/src/styles.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #e4f3ff;
    position: relative;

    .title {
        position: absolute;
        top: 15px;
        left: 20px;
        font-size: 1.3rem;
        color: $blue-color;
        z-index: 10;
    }

    .container {
        display: flex;
        width: 90%;
        height: 80%;
        z-index: 1;
    }

    .left-section {
        display: flex;
        flex-direction: column;
        width: 20%;
        padding: 10px;
    }

    .right-section {
        background-color: $secondary-color;
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 20px;
        overflow-y: auto;

        .form-title {
            font-size: 1.2rem;
            color: $blue-color;
            margin-bottom: 10px;
            text-align: center;
        }

        .form-row {
            display: grid;
            grid-template-columns: repeat(2, 1fr); // Define dos columnas de igual tamaño
            gap: 20px; // Espacio entre columnas
            margin-bottom: 10px;

            .form-group {
                display: flex;
                flex-direction: column;

                label {
                    font-size: 0.7rem;
                    color: #000;
                    margin-bottom: 5px;
                    text-align: left;
                }

                input, select {
                    width: 100%;
                    padding: 5px;
                    border: 1px solid #dcdcdc;
                    border-radius: 5px;
                    font-size: 0.8rem;
                    background-color: #f5f5f5;
                }

                .error-container {
                    border-radius: 5px;
                    width: 100%;

                    .error-message {
                        margin: 0;
                        padding: 0;
                        color: $error-color-msj-cruds;
                        font-size: 0.7rem;
                        text-align: left;
                    }
                }
            }
        }
    }

    .button-container {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .btn-submit {
        width: 20%;
        background-color: $blue-color;
        color: #fff;
        padding: 5px;
        border: none;
        border-radius: 5px;
        font-size: 0.8rem;
        cursor: pointer;
        text-align: center;

        &:hover {
            background-color: darken($blue-color, 10%);
        }
    }
}

.btn-outline-secondary {
    background-color: $secondary-color;
    color: black;
    width: auto; 
    min-width: 25px; 
    padding: 0.25rem 0.5rem; 
    font-size: 0.75rem; 
    border: none;
    position: relative;
    z-index: 1;
    text-align: center;

    &:hover {
        background-color: $blue-color;
        color: $white;
    }

    &:active {
        background-color: $secondary-color;
        color: #ffffff;
    }

    .button-container {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    
        button {
            margin: 0 5px; 
            height: 30px; 
            width: auto; 
        }
    }
}

.clear-btn {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
}

.clear-btn i {
    font-size: 18px;
    color: $blue-color;
}

.clear-btn:hover i {
    color: $secondary-color;
}

.search-product-container {
    width: 40%;  
    margin: 8px auto; 
    display: flex;
    justify-content: center;
    align-items: center;

    input.form-control {
        flex: 1;  
    }

    .btn-outline-secondary {
        flex-shrink: 0;  
    }
}