<body class="flex-container">
    <h1 class="title">{{ 'RESTORE_PASSWORD.TITLE' | translate }}</h1>
    <div class="container">
      <img class="img-restore" src="../../../../assets/images/changePassword.png" alt="img login">
      <p>{{ 'RESTORE_PASSWORD.TEXT' | translate }}</p>
  
      <form [formGroup]="restorePasswordForm" (ngSubmit)="onSubmit()">
        <!-- Campo de correo deshabilitado -->
        <div class="input-group input-group-sm mb-3">
          <input 
            id="email" 
            class="form-control" 
            placeholder="{{ 'RESTORE_PASSWORD.EMAIL_PLACEHOLDER' | translate }}" 
            formControlName="email" 
            [disabled]="true">
        </div>
  
        <!-- Campo de código de verificación -->
        <div class="input-group input-group-sm mb-3">
          <input 
            id="verificationCode" 
            class="form-control" 
            placeholder="{{ 'RESTORE_PASSWORD.VERIFICATION_PLACEHOLDER' | translate }}" 
            formControlName="verificationCode">
          <mat-error *ngIf="restorePasswordForm.get('verificationCode')?.hasError('required')">
            {{ 'RESTORE_PASSWORD.VERIFICATION_REQUIRED' | translate }}
          </mat-error>
        </div>
  
        <!-- Campo de nueva contraseña -->
        <app-input-password 
          placeholder="{{ 'RESTORE_PASSWORD.NEW_PASSWORD_PLACEHOLDER' | translate }}" 
          inputId="newPassword"
          toggleId="toggleNewPassword" 
          formControlName="newPassword"></app-input-password>
        <mat-error *ngIf="restorePasswordForm.get('newPassword')?.hasError('minlength')">
          {{ 'RESTORE_PASSWORD.PASSWORD_MINLENGTH' | translate }}
        </mat-error>
  
        <!-- Botón de enviar -->
        <button type="submit" class="btn btn-primary btn-sm" [disabled]="restorePasswordForm.invalid">
          {{ 'RESTORE_PASSWORD.BUTTON' | translate }}
        </button>
      </form>
    </div>
  </body>