<body class="flex-container">
  <app-sidebar></app-sidebar>
  <h1 class="title">{{ 'CHANGE_PASSWORD.TITLE' | translate }}</h1>
  <div class="container">
    <img class="img-login" src="assets/images/changePassword.png" alt="img login">

    <div class="input-group input-group-sm mb-3">
      <!-- Input old password -->
      <app-input-password [(ngModel)]="oldPassword"
        [placeholder]="'CHANGE_PASSWORD.OLD_PASSWORD_PLACEHOLDER' | translate" inputId="oldPassword" required
        #oldPasswordField="ngModel" toggleId="toggleOldPassword"></app-input-password>

      <!-- Input new password -->
      <app-input-password [(ngModel)]="newPassword" (ngModelChange)="checkPasswords()"
        [placeholder]="'CHANGE_PASSWORD.NEW_PASSWORD_PLACEHOLDER' | translate" inputId="newPassword" required
        #newPasswordField="ngModel" toggleId="toggleNewPassword"></app-input-password>

      <!-- Input confirm password -->
      <app-input-password [(ngModel)]="confirmPassword" (ngModelChange)="checkPasswords()"
        [placeholder]="'CHANGE_PASSWORD.CONFIRM_PASSWORD_PLACEHOLDER' | translate" inputId="confirmPassword" required
        #confirmPasswordField="ngModel" toggleId="toggleConfirmPassword"></app-input-password>
    </div>

    <!-- Mensajes de error -->
    <div *ngIf="oldPasswordField.invalid && oldPasswordField.touched || 
                newPasswordField.invalid && newPasswordField.touched || 
                confirmPasswordField.invalid && confirmPasswordField.touched || 
                !passwordsTwins || !passwordValid" class="error-container">

      <div *ngIf="oldPasswordField.invalid && oldPasswordField.touched" class="error-message">
        <span *ngIf="oldPasswordField.errors?.['required']">{{ 'CHANGE_PASSWORD.OLD_PASSWORD_REQUIRED' | translate
          }}</span>
      </div>

      <!-- Mensajes de error de new password -->
      <div *ngIf="newPasswordField.invalid && newPasswordField.touched || !passwordValid" class="error-message">
        <span *ngIf="newPasswordField.errors?.['required']">{{ 'CHANGE_PASSWORD.NEW_PASSWORD_REQUIRED' | translate
          }}</span>
        <span *ngIf="!passwordValid">{{ 'CHANGE_PASSWORD.NEW_PASSWORD_VALID' | translate }}</span>
      </div>

      <!-- Mensajes de error de confirm password -->
      <div *ngIf="confirmPasswordField.invalid && confirmPasswordField.touched || !passwordsTwins"
        class="error-message">
        <span *ngIf="confirmPasswordField.errors?.['required']">{{ 'CHANGE_PASSWORD.CONFIRM_PASSWORD_REQUIRED' |
          translate }}</span>
        <span *ngIf="!passwordsTwins">{{ 'CHANGE_PASSWORD.PASSWORDS_NOT_MATCH' | translate }}</span>
      </div>
    </div>

    <!-- Boton deshabilitado si hay errores -->
    <button type="button" class="btn btn-primary btn-sm"
      [disabled]="oldPasswordField.invalid || newPasswordField.invalid || confirmPasswordField.invalid || !passwordsTwins || !passwordValid"
      (click)="changePassword()">
      {{ 'CHANGE_PASSWORD.CONFIRM_BUTTON' | translate }}
    </button>
  </div>
</body>