<body class="flex-container">
  <app-sidebar></app-sidebar>
  <h1 class="title">{{ 'USER.TITLE' | translate }}</h1>
  <div class="container">
    <!-- Sección de la izquierda (Tabla de usuarios) -->
    <div class="left-section">
      <div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="{{ 'USER.SEARCH_PLACEHOLDER' | translate }}"
            [attr.aria-label]=" 'USER.SEARCH_PLACEHOLDER' | translate" aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>

      <!-- Tabla de usuarios -->
      <app-list-table
        [dataType]="'users'"
        [userService]="userService"
        [columns]="userColumns"
        [data]="usersData"
        (itemSelected)="onUserSelected($event)">
      </app-list-table>
    </div>

    <!-- Sección de la derecha (Formulario de usuario) -->
    <div class="right-section">
      <form class="form-section" (ngSubmit)="createOrUpdateUser()" #form="ngForm">
        <h1>{{ newUser.id ? ('USER.UPDATE_BUTTON' | translate) : ('USER.SAVE_BUTTON' | translate) }}</h1>
        <div class="input-grid">
          <div class="input-group">
            <label for="email">{{ 'USER.EMAIL' | translate }} *</label>
            <input type="email" id="email" name="email" [(ngModel)]="newUser.email" class="form-control" placeholder="{{ 'USER.EMAIL' | translate }}">
          </div>
          <div class="input-group">
            <label for="name">{{ 'USER.NAME' | translate }} *</label>
            <input type="text" id="name" name="name" [(ngModel)]="newUser.name" class="form-control" placeholder="{{ 'USER.NAME' | translate }}" required>
          </div>
          <div class="input-group">
            <label for="surname">{{ 'USER.SURNAME' | translate }} *</label>
            <input type="text" id="surname" name="surname" [(ngModel)]="newUser.surname" class="form-control" placeholder="{{ 'USER.SURNAME' | translate }}" required>
          </div>
          <div class="input-group">
            <label for="username">{{ 'USER.USERNAME' | translate }} *</label>
            <input type="text" id="username" name="username" [(ngModel)]="newUser.username" class="form-control" placeholder="{{ 'USER.USERNAME' | translate }}" required>
          </div>
          <div class="input-group">
            <label for="age">{{ 'USER.AGE' | translate }} *</label>
            <input type="number" id="age" name="age" [(ngModel)]="newUser.age" class="form-control" placeholder="{{ 'USER.AGE' | translate }}" required>
          </div>
          <div class="input-group">
            <label for="phone">{{ 'USER.PHONE' | translate }} *</label>
            <input type="text" id="phone" name="phone" [(ngModel)]="newUser.phone" class="form-control" placeholder="{{ 'USER.PHONE' | translate }}" required>
          </div>
          <div class="input-group" *ngIf="!newUser.id">
            <label for="profile">{{ 'USER.PROFILE' | translate }} *</label>
            <select id="profile" class="form-control" [(ngModel)]="selectedProfileId" name="profileId" required>
              <option value="" disabled selected>{{ 'USER.PROFILE' | translate }}</option>
              <option *ngFor="let profile of profilesData" [value]="profile.profileId">
                {{ profile.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="btn-container">
          <button type="submit" class="btn-submit">{{ newUser.id ? ('USER.UPDATE_BUTTON' | translate) : ('USER.SAVE_BUTTON' | translate) }}</button>
        </div>

        <!-- Mensaje de éxito -->
        <div *ngIf="successMessage" class="alert alert-success" role="alert">
          {{ 'USER.CREATE_SUCCESS' | translate }}
        </div>
        <!-- Mensaje de error -->
        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
          {{ 'USER.CREATE_ERROR' | translate }}
        </div>
      </form>
    </div>
  </div>
</body>
