// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@use '@angular/material' as mat; // Asegúrate de que esta línea esté al inicio

// Importación de Tailwind CSS
@tailwind base;
@tailwind components;
@tailwind utilities;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single CSS file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Frontend-proyecto-practicas-grupo-2-primary: mat.define-palette(mat.$indigo-palette);
$Frontend-proyecto-practicas-grupo-2-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Frontend-proyecto-practicas-grupo-2-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Frontend-proyecto-practicas-grupo-2-theme: mat.define-light-theme((
  color: (
    primary: $Frontend-proyecto-practicas-grupo-2-primary,
    accent: $Frontend-proyecto-practicas-grupo-2-accent,
    warn: $Frontend-proyecto-practicas-grupo-2-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Frontend-proyecto-practicas-grupo-2-theme);

// Global styles
*, h1 {
  font-family: 'Lexend Deca', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

// Variables globales
$bg-light: linear-gradient(180deg, #6EA8FE 0%, #426598 100%);
$bg-obscure: linear-gradient(180deg, #031633 0%, #094299 100%);
$white: #ffffff;
$secondary-color: #cfe2ff;
$primary-color: #e4f3ff;
$blue-color: #052c65;
$state-color-active: green;
$state-color-inactive: red;
$error-color-msj: #00fbff;
$error-color-msj-cruds: #ff0000;