@import '/src/styles.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: $bg-obscure;
    position: relative;

    .title {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 1.3rem;
        color: $white;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;

    .img-register{
        max-width: 200px;
        margin-bottom: 40px;
        mask-image: linear-gradient(#000000 50%, transparent);
    }

    .input-group {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        column-gap: 15px; 
        row-gap: 20px; 
        width: 80%;
        margin-bottom: 20px;
    
        input, app-input-password {
            width: 100%;
            margin-top: 15px;
        }
    
        input:first-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }

    .btn-primary {
        margin: 20px;
        padding: 5px 10px;
    }

    hr {
        width: 80%;
        border: 1px solid $white;
        margin: 20px 0;
    }

    a {
        color: $white;
        text-decoration: none;
        font-size: 0.8em;

        &:hover {
            color: gray;
        }
    }

    .error-container {
        border-radius: 5px;
        width: 100%;

        .error-message {
            margin: 0;
            padding: 0;
            color: $error-color-msj;
            font-size: 0.7rem;
            text-align: center;
        }
    }
}