<h2 mat-dialog-title>{{ 'DIALOG_DELETE.TITLE' | translate }}</h2>
<mat-dialog-content>
  {{ 'DIALOG_DELETE.MESSAGE' | translate }} {{ itemType === 'user' ? 'usuario' : 'perfil' }} "{{ itemType === 'user' ? data.item.username : data.item.name }}"
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">{{ 'DIALOG_DELETE.CANCEL' | translate }}</button>
  <button mat-button color="warn" (click)="confirmDelete()">{{ 'DIALOG_DELETE.DELETE' | translate }}</button>
</mat-dialog-actions>
