<div class="input-group input-group-sm">
  <input
    [type]="isPasswordVisible ? 'text' : 'password'"
    [id]="inputId"
    class="form-control"
    [placeholder]="placeholder"
    aria-label="Password Input"
    aria-describedby="inputGroup-sizing-sm"
    [value]="value"
    (input)="setValue($event)"
    (blur)="onTouched()"
  >
  
  <label (click)="togglePasswordVisibility()" class="input-group-text">
    <img 
      [src]="isPasswordVisible ? 'assets/images/eyeVisibility.png' : 'assets/images/eyeNotVisible.png'" 
      class="img-eye" 
      alt="Toggle Visibility"
    >
  </label>
</div>
